# Игнорируем виртуальное окружение
venv/
.env

.venv

venv

# Игнорируем файлы кэша и временные файлы
__pycache__/
*.pyc
*.pyo

# Игнорируем IDE-файлы
*.idea/
.vscode/
*.swp

# Игнорируем системные службы
*.DS_Store

# Дампы данных
*_db.json


cachedir

models

catboost_info